[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "==3.12"
wheel = "*"
pillow = "*"
python-dotenv = "*"
drf-yasg = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
